.review {
  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  position: relative;
  margin-bottom: 3.5rem;

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
  }

  &__user-box {
    margin-left: 1.5rem;
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: .4rem;
    text-transform: uppercase;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }

  &::before {
    color: var(--color-grey-light-2);
    content: "\201C";
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    overflow: hidden;
    position: absolute;
    left: -1rem;
    top: -2rem;
  }

  &__button {
    span {
      margin-left: .3rem;
      transition: all .2s;
    }

    &:hover span {
      margin-left: .8rem;
    }
  }
}